.addTask{
    background-color: bisque;
}
input{
    padding:5px;
    margin: 5px;
}
form{
    display: flex;
    justify-content: center;
}
.addTask .addtask{
    background-color: green;
}
.addTask .cleartask{
    background-color: yellowgreen;
    margin: 5px;
}